.search {}

.search-form {
  margin: 20px auto;
  max-width: 350px;
  position: relative;
}

.search-form-field {
  background: $input-background-color url(/css/img/magnifier.png) no-repeat 15px center;
  border-radius: $search-border-radius;
  border: 1px solid $input-border-color;
  box-shadow: $search-box-shadow;
  color: $input-color;
  font-size: $input-font-size;
  height: $input-height;
  line-height: $input-line-heitgh;
  padding: $search-padding;
  width: 100%;
}

.search-results {
  margin: 0 auto 20px;
  max-width: 940px;
}
.search-results-list {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.search-results-item {
  @include x-clearfix;
  border-top: 1px solid #dadada;
  cursor: pointer;
  display: table;
  padding: 20px 30px;
  width: 100%;

  &:first-child { border-top: 0; }

  &:hover { background: #edf4fd; }
}

.search-results-item-image {
  float: left;
  margin-right: 20px;

  @media(min-width:$screen-tablet-small) {
    float: none;
  }

}
.search-results-item-title {
  color: #000;
  font-size: 22px;
  display: table-cell;
  vertical-align: middle;
}
.search-results-item-year {
  color: #9b9b9b;
  display: table-cell;
  font-size: 16px;
  text-align: right;
  vertical-align: middle;
}
